<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- ? Contenido principal del documento -->
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar Administradores
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de administradores. Aquí puedes
                    manejar todas las personas administradoras registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver graficas y
                    reportes generales de actividad.</h6>
            </div>
        </div>

        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-lg-5 col-md-9 col-sm-9 d-flex flex-row align-items-center gap-2 mt-5">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-person-fill-add"></i>
                            </button>
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ordenar registros
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 1)">Alfabético</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Correo
                                        electrónico</a></li>
                            </ul>
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Filtrar por departamento
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Ahuachapán</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Santa Ana</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Sonsonate</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Chalatenango</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">La Libertad</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">San Salvador</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Cuscatlán</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">La Paz</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Cabañas</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">San Vicente</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Usulután</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">San Miguel</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Morazán</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">La Unión</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="administradores" class="container justify-content-center row">

        </div>

        <!-- Modal agregar Administrador -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idAdministrador" name="idAdministrador">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                            </div>
                                            <div class="col-12 text-center">
                                                <label for="imagenAdministrador">
                                                    <h3 for="imagenAdministrador" class="form-label">Imagen
                                                        Administrador</h3>
                                                    <img id="imagenMuestra"
                                                        class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                        src="../../resources/images/error/404Administrador.png"
                                                        alt="..." width="200px" height="200px">
                                                    <input id="imagenAdministrador" type="file"
                                                        name="imagenAdministrador" class="d-none form-control"
                                                        accept=".png, .jpg">
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input id="nombreAdministrador" name="nombreAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Apellido(s)</label>
                                                <input id="apellidoAdministrador" name="apellidoAdministrador"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6 mt-3">
                                                <label class="form-label">Numero telefono</label>
                                                <input id="telefonoAdministrador" name="telefonoAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatPhoneNumber(this)">
                                            </div>
                                            <div class="col-6 mt-3">
                                                <label class="form-label">Correo electronico</label>
                                                <input id="correoAdministrador" name="correoAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatEmail(this)">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="" class="form-label">Clave</label>
                                                <input type="password" id="claveAdmin" name="claveAdmin"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatPassword(this)">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="" class="form-label">Repetir Clave</label>
                                                <input type="password" id="claveAdmin2" name="claveAdmin2"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatPassword(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row mb-3">
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary ps-4 pe-4">
                                            <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <!-- ! cambiar el link js para el controntrolador -->
    <script src="../../controllers/admin/administradores.js"></script>
    <!-- ? llamada al validaron de textos -->
    <script src="../../controllers/utils/inputValidator.js"></script>

</body>

</html>