<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- ? Contenido principal del documento -->
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar Administradores
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de administradores. Aquí puedes
                    manejar todas las personas administradoras registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver graficas y
                    reportes generales de actividad.</h6>
            </div>
        </div>

        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                        <button type="button" class="btn btn-warning" onclick="openCreate()">
                            <i class="bi bi-person-fill-add"></i>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="openReport()">
                            <i class="bi bi-filetype-pdf"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="administradores" class="container justify-content-center row">
            <div class="card text-bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                            <img src="../../resources/error/images/404Administrador.png" width="200"
                                class="rounded border border-primary" alt="Imagen de error"
                                onerror="this.onerror=null; this.src='../../resources/error/images/404Administrador.png';">
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-12 text-center">
                            <h5 class="text-white">Nombre empleado</h5>
                            <p class="card-title text-white">${row.nombre_empleado} ${row.apellido_empleado}</p>
                            <h5 class="text-white">Usuario</h5>
                            <p class="card-text text-white">${row.dui_empleado}</p>
                            <h5 class="text-white">Correo Administrador</h5>
                            <p class="card-text text-white">${row.correo_empleado}</p>
                            <h5 class="text-white">Teléfono</h5>
                            <p class="card-text text-white">${row.correo_empleado}</p>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 text-center mt-3">
                            <div class="d-flex flex-column">
                                <button class="btn btn-outline-light mb-2" onclick="openDelete(${row.id_empleado})">
                                    <i class="bi bi-trash3-fill"></i> Eliminar
                                </button>
                                <button class="btn btn-outline-light mb-2" onclick="openUpdate(${row.id_empleado})">
                                    <i class="bi bi-pencil-fill"></i>Actualizar
                                </button>
                                <button class="btn btn-outline-light mb-2" onclick="openState(${row.id_empleado})">
                                    <i class="bi bi-exclamation-octagon"></i> Cambiar Estado
                                </button>
                                <button type="button" class="btn btn-outline-light mb-2"
                                    onclick="openChart(${row.id_empleado})">
                                    <i class="bi bi-bar-chart-line-fill"></i> Ver Gráfico
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal agregar Administrador -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idAdministrador" name="idAdministrador">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                            </div>
                                            <div class="col-12 text-center">
                                                <label for="imagenAdministrador">
                                                    <h3 for="imagenAdministrador" class="form-label">Imagen
                                                        Administrador</h3>
                                                    <img id="imagenMuestra"
                                                        class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                        src="../../resources/error/images/404Administrador.png"
                                                        alt="..." width="200px" height="200px">
                                                    <input id="imagenAdministrador" type="file"
                                                        name="imagenAdministrador" class="d-none form-control"
                                                        accept=".png, .jpg">
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Nombre(s)</label>
                                                <input id="nombreAdministrador" name="nombreAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Apellido(s)</label>
                                                <input id="apellidoAdministrador" name="apellidoAdministrador"
                                                    autocomplete="off" class="form-control" required
                                                    oninput="formatAlphabetic(this)">
                                            </div>
                                            <div class="col-6 mt-3">
                                                <label class="form-label">Nombre usuario</label>
                                                <input id="usuarioAdministrador" name="usuarioAdministrador"
                                                    class="form-control" autocomplete="off" required>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <label class="form-label">Numero telefono</label>
                                                <input id="telefonoAdministrador" name="telefonoAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatEmail(this)">
                                            </div>
                                            <div class="col-12 mt-3">
                                                <label class="form-label">Correo electronico</label>
                                                <input id="correoAdministrador" name="correoAdministrador"
                                                    class="form-control" autocomplete="off" required
                                                    oninput="formatEmail(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row mt-3">
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary ps-4 pe-4">
                                            <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <!-- ! cambiar el link js para el controntrolador -->
    <script src="../../controllers/admin/administradores.js"></script>

</body>

</html>