<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-box-seam-fill"></i> Control material
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de la material. Aquí puedes
                    administrar, agregar o modificar la información sobre el tipo de unidades y las cantidades que se
                    poseen. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver las cantidades y clasificar por categorías
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center g-4 px-2">
                    <!-- Added g-4 for gap, py-3 for vertical padding, px-2 for horizontal padding -->
                    <div class="col-auto"> <!-- Changed to col-auto for automatic width based on content -->
                        <button type="button" class="py-4 btn btn-success disabled" onclick="readAllTable(null,5)"
                            id="botonGeneral">
                            <h5 class="mb-0" onclick="readAllTable(null, 1)">Ver todas las categorías</h5>
                            <!-- Added mb-0 to remove margin -->
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="readAllTable(null,6)"
                            id="botonUsoCotidiano">
                            <h5 class="mb-0"><i class="bi bi-house-door"></i> Uso cotidiano</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="readAllTable(null,7)"
                            id="botonCL200">
                            <h5 class="mb-0"><i class="bi bi-lightning-charge"></i> Material para CL200</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="readAllTable(null,8)"
                            id="botonAcomedidaEspecial">
                            <h5 class="mb-0"><i class="bi bi-lightning-fill"></i> Acometida especial</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="readAllTable(null,9)"
                            id="botonSubterraneo">
                            <h5 class="mb-0"><i class="bi bi-minecart-loaded"></i> Subterráneo</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="readAllTable(null, 10)"
                            id="botonAntiTele">
                            <h5 class="mb-0"> <i class="bi bi-shield-lock"></i> Patron antihurto y telegestión</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Buscador..." required>
                    </div>
                    <div class="col-lg-5 col-md-9 col-sm-9 d-flex flex-row align-items-center gap-2 mt-5">
                        <!-- Grupo de botones -->
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="readAllTable(null, 1)">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-clipboard-plus"></i>
                            </button>
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ordenar registros
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 1)">Alfabético</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Mayor
                                        cantidad</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 3)">Menor
                                        cantidad</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 4)">Actualizado
                                        recientemente</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>
        <!-- Contenedor para la tabla con scroll-->
        <div id="registrosMaterial" class="container justify-content-center row">

        </div>

        <!-- Modal agregar material -->
        <div class="modal fade" id="saveModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">
                    <!-- Formulario saveForm -->
                    <form id="saveForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idMaterial" name="idMaterial">
                        <form class="needs-validation">
                            <div class="modal-header">
                                <h5 class="fs-4 fw-bold text-center mb-4" id="modalTitle"></h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <!-- Body del modal -->
                            <div class="modal-body">
                                <!-- Inputs -->
                                <div class="row">
                                    <!-- <input id="imagen" type="file" name="imagen" class="form-control d-none"
                                            accept="image/*" capture="environment"> -->
                                    <div class="col-12 text-center"> <!-- Asegura el centrado de la imagen -->
                                        <label for="imagenMaterial" style="cursor: pointer;">
                                            <img id="imagenMuestra"
                                                class="rounded mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                src="../../resources/images/error/404material.png"
                                                onerror="this.onerror=null; this.src='../../resources/images/error/404material.png';"
                                                id="imagenVisualAdmin" alt="ERROR FOTO MODAL" width="200px"
                                                height="200px">
                                        </label>
                                        <input id="imagenMaterial" type="file" name="imagenMaterial"
                                            class="form-control d-none" accept=".png, .jpg">
                                    </div>
                                    <div class="col-12">
                                        <div class="row gy-3">
                                            <div class="col-6">
                                                <label class="form-label">Nombre material</label>
                                                <input id="nombreMaterial" name="nombreMaterial" class="form-control"
                                                    autocomplete="off" required
                                                    placeholder="Ingrese el nombre del material...">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Descripción material</label>
                                                <textarea id="descripcionMaterial" name="descripcionMaterial"
                                                    autocomplete="off" class="form-control" required
                                                    placeholder="ingrese la descripción del material..."></textarea>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Categoría material</label>
                                                <select id="categoriaMaterial" name="categoriaMaterial"
                                                    class="form-select" autocomplete="off" required>
                                                    <option selected>seleccione una categoría</option>
                                                    <option value="Uso habitual">Uso habitual</option>
                                                    <option value="Material para CL200">Material para CL200</option>
                                                    <option value="Acometida especial">Acometida Especial</option>
                                                    <option value="Subterráneo">Subterráneo</option>
                                                    <option value="Antihurto y telegestión">Antihurto y telegestión
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label for="codigoMaterial" class="form-label">Código material</label>
                                                <input type="text" class="form-control" name="codigoMaterial"
                                                    id="codigoMaterial"
                                                    placeholder="ingrese un código de 5 o 6 dígitos..."
                                                    oninput="formatCode(this)">
                                            </div>
                                            <div class="col-6">
                                                <label for="unidadMaterial" class="form-label">Tipo de unidades</label>
                                                <select name="unidadMaterial" id="unidadMaterial" class="form-select"
                                                    autocomplete="off" required>
                                                    <option selected>seleccione una unidad</option>
                                                    <option value="Metros">Metros</option>
                                                    <option value="Piezas">Piezas</option>
                                                    <option value="Rollos">Rollos</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Estado alerta de solicitud</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="estadoAlertaMaterial" id="estadoAlertaMaterial1" value="1"
                                                        checked onclick="statusAlertDeactivate()">
                                                    <label class="form-check-label" for="estadoAlertaMaterial1">
                                                        Activar alerta de solicitud
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="estadoAlertaMaterial" id="estadoAlertaMaterial2" value="0"
                                                        onclick="statusAlertActivate()">
                                                    <label class="form-check-label" for="estadoAlertaMaterial2">
                                                        Desactivar alerta de solicitud
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 my-2">
                                                <label class="form-label" for="cantidadMinimaMaterial">Cantidad
                                                    necesaria para
                                                    solicitud
                                                    <!-- Icono con tooltip -->
                                                    <span class="text-primary ms-2" data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="Alerta que se muestra al llegar a la cantidad mínima">
                                                        <i class="bi bi-question-circle-fill fs-4"></i>
                                                        <!-- Bootstrap Icons -->
                                                    </span>
                                                </label>
                                                <input type="number" class="form-control" id="cantidadMinimaMaterial"
                                                    name="cantidadMinimaMaterial"
                                                    placeholder="Ingrese cantidad mínima material...">
                                                <!-- Input real (oculto) que PHP procesará -->
                                                <input type="hidden" name="cantidadMinimaMaterial"
                                                    id="cantidadMinimaMaterial_real">
                                            </div>
                                            <div class="col-6 my-4">
                                                <label class="form-label" for="codigoMaterial">Cantidad materiales
                                                </label>
                                                <input type="number" class="form-control" id="cantidadMaterial"
                                                    name="cantidadMaterial" placeholder="ingrese cantidad material...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 p-3">
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-primary ps-4 pe-4" id="iconoBoton">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>

        <!-- modal para alterar la cantidad del material -->
        <div class="modal fade" id="materialModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content bg-dark text-white">
                    <!-- <form id=""></form> -->
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idMaterialCantidad" name="idMaterial">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar cantidad</h5>
                        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column align-items-center gap-3">
                        <!-- gap-3 añade espacio vertical entre botones -->
                        <button type="button" class="btn btn-secondary w-75" data-bs-target="#TipoMaterialModal"
                            data-bs-toggle="modal"
                            onclick="openQuantity(document.getElementById('idMaterialCantidad').value, 1)">
                            <h3 class="mb-0">Agregar
                                Material</h3>
                        </button>
                        <button type="button" class="btn btn-secondary w-75" data-bs-target="#TipoMaterialModal"
                            data-bs-toggle="modal"
                            onclick="openQuantity(document.getElementById('idMaterialCantidad').value, 2)">
                            <h3 class="mb-0">Restar
                                Material</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modas para agregar o restar la cantidad del material -->
        <div class="modal fade" id="TipoMaterialModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">
                    <form id="updateQuantityForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idTipoMaterialCantidad" name="idMaterial">
                        <div class="modal-header">
                            <h2 class="modal-tittle" id="TipoAltMaterial"></h2>
                            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center gap-3 text-center">
                            <h4>Cantidad Actual:</h4>
                            <h4 class="text-white" id="cantidadActualMaterial"></h4>
                            <h4>Nueva cantidad:</h4>
                            <h4 id="cantidadActualizadaMaterial"></h4>
                            <h4>Actualizas esto en js:</h4>
                            <div class="input-group w-50">
                                <span class="input-group-text">Cantidad</span>
                                <input type="number" class="form-control" aria-label="Cantidad a modificar..."
                                    id="actualizarMaterial" name="cantidadMaterial"
                                    oninput="updateActualQuantity(this)">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- ? Llama al validador de textos -->
    <script src="../../controllers/utils/inputValidator.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/admin/bodega.js"></script>
</body>

</html>