<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar cables
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión cableado. Aquí puedes
                    administrar, agregar o modificar la información sobre el tipo de cableado y las cantidades que se
                    poseen. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver las cantidades.</h6>
            </div>
        </div>
        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-lg-5 col-md-9 col-sm-9 d-flex flex-row align-items-center gap-2 mt-5">
                        <!-- Grupo de botones -->
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-clipboard-plus"></i>
                            </button>
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ordenar registros
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="orderByName()">Alfabético</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readByLengthDesc()">Mayor
                                        cantidad</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readByLengthAsc()">Menor
                                        cantidad</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readByLengthAsc()">Actualizado
                                        recientemente</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <h3 class="mb-3">Tipos de cables</h3>
                        <button type="reset" class="btn btn-secondary"
                            onclick="window.location.href='../admin/tiposCables.html'">
                            <i class="bi bi-bookmark-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll-->
        <div id="cables" class="container justify-content-center row">
        </div>


        <!-- Modal agregar Cable -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idCable" name="idCable">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-label">Nombre cable</label>
                                            <input id="nombreCable" name="nombreCable" class="form-control"
                                                autocomplete="off" required >
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Descripción cable</label>
                                            <input id="descripcionCable" name="descripcionCable" autocomplete="off"
                                                class="form-control" required >
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Estado cable</label>
                                            <select id="estadoCable" name="estadoCable" class="form-select"
                                                autocomplete="off" required>
                                                <option selected>Seleccione un estado</option>
                                                <option value="0">Nuevo</option>
                                                <option value="1">En uso</option>
                                                <option value="2">En ruta</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="categoriaCable" class="form-label">Tipo de cable</label>
                                            <select id="categoriaCable" name="categoriaCable" class="form-select"
                                                required>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Longitud cable (metros)</label>
                                            <input type="number" class="form-control" id="longitudCable"
                                                name="longitudCable" placeholder="ingrese la longitud...">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Longitud minima cable (metros)</label>
                                            <input type="number" class="form-control" id="longitudMinimaCable"
                                                name="longitudMinimaCable" placeholder="ingrese la longitud limite...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row mb-3">
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary ps-4 pe-4">
                                            <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/admin/cables.js"></script>
    <!--  -->
    <!-- ! cambiar el link js para el controntrolador -->

</body>

</html>