<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar cables
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión cableado. Aquí puedes
                    administrar, agregar o modificar la información sobre el tipo de cableado y las cantidades que se
                    poseen. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver las cantidades.</h6>
            </div>
        </div>
        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-start">
                        <h3 class="mb-3">Administrar tipos de cables</h3>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-clipboard-plus"></i>
                            </button>
                            <button type="submit" class="btn btn-info" onclick="openCreate()">
                                <i class="bi bi-sort-numeric-down"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-bookmark-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="cables" class="container justify-content-center row">
        </div>


        <!-- Modal agregar Cable -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idCable" name="idCable">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="row">
                                        <div class="col-12">
                                        </div>
                                        <div class="col-12 text-center">
                                            <label for="imagenCable">
                                                <h3 for="imagenCable" class="form-label">Imagen
                                                    Cable</h3>
                                                <img id="imagenMuestra"
                                                    class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/error/images/404Cable.png" alt="..."
                                                    width="200px" height="200px">
                                                <input id="imagenCable" type="file" name="imagenCable"
                                                    class="d-none form-control" accept=".png, .jpg">
                                            </label>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Nombre(s)</label>
                                            <input id="nombreCable" name="nombreCable" class="form-control"
                                                autocomplete="off" required oninput="formatAlphabetic(this)">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Apellido(s)</label>
                                            <input id="apellidoCable" name="apellidoCable" autocomplete="off"
                                                class="form-control" required oninput="formatAlphabetic(this)">
                                        </div>
                                        <div class="col-6 mt-3">
                                            <label class="form-label">Nombre usuario</label>
                                            <input id="usuarioCable" name="usuarioCable" class="form-control"
                                                autocomplete="off" required>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <label class="form-label">Numero telefono</label>
                                            <input id="telefonoCable" name="telefonoCable" class="form-control"
                                                autocomplete="off" required oninput="formatEmail(this)">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label class="form-label">Correo electronico</label>
                                            <input id="correoCable" name="correoCable" class="form-control"
                                                autocomplete="off" required oninput="formatEmail(this)">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class="form-label">Clave</label>
                                            <input type="password" id="claveAdmin" name="claveAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class="form-label">Repetir Clave</label>
                                            <input type="password" id="claveAdmin2" name="claveAdmin2"
                                                autocomplete="off" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row mb-3">
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary ps-4 pe-4">
                                            <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/admin/cables.js"></script>
    <!-- ! cambiar el link js para el controntrolador -->

</body>

</html>