<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css"> -->

</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h1 id="mainTitle"></h1>

        <!-- titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold "> <i class="bi bi-person-vcard-fill me-1"></i> Administrar información laboral de
                    empleados</h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de empleados. Aquí puedes
                    manejar todos los trabajadores registrados en tu página web. <br>
                    La tabla te permite eliminar, dar de baja, editar, ver graficas y
                    reportes generales de actividad.</h6>
            </div>
        </div>
        <h3 class="fw-bold "> </h3>
        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Buscador..." required>
                    </div>
                    <div class="col-lg-5 col-md-9 col-sm-9 d-flex flex-row align-items-center gap-2 mt-5">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-person-fill-add"></i>
                            </button>
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ordenar registros
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 1)">Nombre (A-Z)</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 2)">Nombre descendente
                                        (Z-A)</a></li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 3)">Actualizado
                                        recientemente</a></li>
                            </ul>
                        </div>

                        <!-- filtro por estado -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Filtrar por estado
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 4)">Activo</a>
                                </li>
                                <li><a class="dropdown-item" href="#" onclick="readAllTable(null, 5)">Inactivo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p id="rowsFound" class=" fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="trabajos" class=" justify-content-center row">
        </div>
        <!-- Modal Alterar registro (agregar o editar) -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark text-white">

                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->


                        <!-- Body del modal -->
                        <div class="modal-body">
                            <input type="number" class="d-none" id="idTrabajoooo" name="idTrabajooo">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                            <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"></h1>

                            <h3 class="text-center">Estado empleado</h3>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="estadoTrabajo"
                                        id="estadoTrabajo1" value="1">
                                    <label class="form-check-label h4" for="estadoTrabajo1">
                                        Activo
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="estadoTrabajo"
                                        id="estadoTrabajo2" value="0" checked>
                                    <label class="form-check-label h4" for="estadoTrabajo2">
                                        Inactivo
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container col-6">
                                    <label for="empleadoTrabajo" class="form-label">Seleccionar empleado</label>
                                    <select id="empleadoTrabajo" name="empleadoTrabajo" class="form-select" required>
                                    </select>
                                </div>
                            </div>

                            <!-- Inputs -->
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label">Departamento</label>
                                    <select id="departamentoTrabajo" name="departamentoTrabajo" class="form-control"
                                        autocomplete="off" onchange="actualizarMunicipios()">
                                        <option value="No seleccionado">Seleccionar Departamento</option>
                                        <option value="Ahuachapan">Ahuachapán</option>
                                        <option value="Cabañas">Cabañas</option>
                                        <option value="Chalatenango">Chalatenango</option>
                                        <option value="La Libertad">La Libertad</option>
                                        <option value="La Paz">La Paz</option>
                                        <option value="San Salvador">San Salvador</option>
                                        <option value="San Vicente">San Vicente</option>
                                        <option value="Santa Ana">Santa Ana</option>
                                        <option value="Sonsonate">Sonsonate</option>
                                        <option value="Usulután">Usulután</option>
                                        <option value="Morazán">Morazán</option>
                                        <option value="La Unión">La Unión</option>
                                        <option value="San Miguel">San Miguel</option>
                                        <option value="Tecapa">Tecapa</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Municipio</label>
                                    <select id="municipioTrabajo" name="municipioTrabajo" class="form-control"
                                        autocomplete="off">
                                        <option>Primero seleccione un departamento</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary ps-4 pe-4">
                                    <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- ? Llama al validador de textos -->
    <script src="../../controllers/utils/inputValidator.js"></script>
    <!-- Llamada al controlador de la página web -->
    <!-- ! cambiar el link js para el controntrolador -->
    <script src="../../controllers/admin/info_empleados.js"></script>
</body>

</html>