<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h1 class="" id="mainTitle"></h1>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class=" mx-2 pb-3 my-2 col-lg-4 col-md-6 col-sm-12 bg-white rounded  " id="ContanidoCable1">
                    <h3 class="mt-3">cantidades rollos, categorías</h3>
                    <canvas id="grafica1"></canvas>
                </div>
                <div class=" mx-2 pb-3 my-2 col-lg-4 col-md-6 col-sm-12 bg-white rounded  " id="ContanidoCable2">
                    <h3 class="mt-3">longitudes por rollos categoría</h3>
                    <canvas id="grafica2"></canvas>
                </div>
                <div class=" mx-2 pb-3 my-2 col-lg-4 col-md-6 col-sm-12 bg-white rounded  " id="ContanidoCable3">
                    <h3 class="mt-3">Estado por categoría</h3>
                    <canvas id="grafica3"></canvas>
                </div>
            </div>
            <div class="mt-2 row justify-content-center text-center">
                <h1 class="">Jornadas laboral</h1>
                <div class="my-4">
                    <button type="button" class="btn btn-secondary" id="inicioBoton" onclick="inicioJornadas()"><h3>Inicios Recientes</h3></button>
                    <button type="button" class="btn btn-secondary" id="finalizacionBoton" onclick="finalizacionJornadas()"><h3>Finalizaciones Recientes</h3></button>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="accordion" id="jornadasEmpleados">
                    </div>
                </div>
                <div class="col-lg-6 col-12">

                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- ? importación de librería para generar gráficos -->
    <script src="../../resources/js/chart.umd.min.js"></script>
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/admin/inicio.js"></script>
    <!-- ! cambiar el link js para el controntrolador -->
</body>

</html>