<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
</head>

<body>
    <main class="">

        <h1 id="mainTitle"></h1>
        <div class="row justify-content-center  ">
            <div class="col-lg-10">
                <div class="text-white text-center">
                    <div class="card bg-dark text-light">
                        <h5 class="card-header bg-secondary">Ingrese datos</h5>
                        <div class="card-body">
                            <form action="" id="signupForm">
                                <div class="container">
                                    <div class="row my-3 justify-content-center ">
                                        <h1 class="text-grey">Datos personales</h1>
                                        <!-- Input para seleccionar la imagen -->
                                        <div class="col-12 text-center"> <!-- Asegura el centrado de la imagen -->
                                            <label for="imagenAdmin" style="cursor: pointer;">
                                                <img id="imagenMuestra"
                                                    class="rounded mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                    src="../../resources/error/images/404Administrador.png" alt="..." width="200px"
                                                    height="200px">
                                            </label>
                                            <input id="imagenAdmin" type="file" name="imagenAdmin"
                                                class="form-control d-none" accept=".png, .jpg">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="form-label">Nombre(s)</label>
                                            <input type="text" id="nombreAdmin" name="nombreAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="form-label">Apellido</label>
                                            <input type="text" id="apellidoAdmin" name="apellidoAdmin"
                                                autocomplete="off" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="form-label">Usuario</label>
                                            <input type="text" id="usuarioAdmin" name="usuarioAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="form-label">Teléfono</label>
                                            <input type="tel" id="telefonoAdmin" name="telefonoAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <label class="form-label">Correo Electrónico</label>
                                            <input type="email" id="correoAdmin" name="correoAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <h3 class="text-white">claves de usuario</h3>
                                        <div class="col-lg-6">
                                            <label for="" class="form-label">Clave</label>
                                            <input type="password" id="claveAdmin" name="claveAdmin" autocomplete="off"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class="form-label">Repetir Clave</label>
                                            <input type="password" id="claveAdmin2" name="claveAdmin2"
                                                autocomplete="off" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="justify-content-center text-center mt-3">
                                        <button type="submit" class="btn btn-success">guardar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- importación de archivos js -->
    <!-- llamada de framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- llama el controlador de la aplicación -->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llama al controlador del sitio privado -->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- llama al controlador de la pagina web -->
    <script src="../../controllers/admin/signup.js"></script>
</body>

</html>