<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos cables</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"> <i class="bi bi-shield-lock-fill me-1"></i> Gestionar Tipos de Cables
                </h3>
                <h6 class="fw-medium text-secondary">Bienvenido a la sección de gestión de administración de los tipos
                    de cables.
                    En este apartado, podrás gestionar y catalogar de manera eficiente los diferentes tipos de cables
                    disponibles. Esta herramienta ha sido diseñada para facilitar la organización y clasificación,
                    asegurando un mejor control de los recursos y una mayor precisión en las operaciones relacionadas
                    con estos materiales..</h6>
            </div>
        </div>

        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                        <input type="search" class="form-control custom-input border-2" id="search" name="search"
                            placeholder="Nombre o Apellido" required>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 d-flex flex-column align-items-start">
                        <div class="btn-group mt-5">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="fillTable()">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <button type="button" class="btn btn-warning" onclick="openCreate()">
                                <i class="bi bi-clipboard-plus"></i>
                            </button>
                            <button type="button" class="btn btn-info" onclick="openCreate()">
                                <i class="bi bi-sort-numeric-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h3 class="mb-3">Administrar cantidades de cables</h3>
                            <button type="reset" class="btn btn-secondary" onclick="window.location.href='../admin/cables.html'">
                                <i class="bi bi-bookmark-plus"></i>
                            </button>
                    </div>
                </div>
            </form>
        </div>

        <p id="rowsFound" class="text-white fw-bold mt-3"></p>

        <!-- Contenedor para la tabla con scroll -->
        <div id="tiposCables" class="container justify-content-center row">
        </div>

        <!-- Modal agregar Administrador -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content bg-dark text-white">
                    <!-- Formulario saveForm -->
                    <form id="saveForm">

                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idCategoriaCable" name="idCategoriaCable">
                        <form class="needs-validation">

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button> <!-- Cambiar color del botón de cerrar -->
                                <h1 class="fs-4 fw-bold text-center mb-4" id="modalTitle"> </h1>

                                <!-- Inputs -->
                                <div class="row p-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                            </div>
                                            <div class="col-12 text-center">
                                                <label for="imagenCategoria">
                                                    <h3 for="imagenCategoria" class="form-label">Imagen
                                                        cable</h3>
                                                    <img id="imagenMuestra"
                                                        class="rounded  mx-auto d-block img-fluid mt-3 border border-3 border-secondary-subtle rounded-circle imagen_R"
                                                        src="../../resources/error/images/404Cable.png" alt="..."
                                                        width="200px" height="200px">
                                                    <input id="imagenCategoria" type="file" name="imagenCategoria"
                                                        class="d-none form-control" accept=".png, .jpg">
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label">Nombre categoría</label>
                                                <input id="nombreCategoria" name="nombreCategoria" class="form-control"
                                                    autocomplete="off" required>
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label">Descripción categoría</label>
                                                <textarea name="descripcionCategoria" id="descripcionCategoria"
                                                    autocomplete="off" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row mb-3">
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary ps-4 pe-4">
                                            <i class="bi bi-person-fill-add me-1"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/admin/tiposCables.js"></script>
    <!-- ! cambiar el link js para el controntrolador -->

</body>

</html>